body {
	overflow-y: hidden;
    overflow-x: hidden;
	background: url("../images/background_road_color.svg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#rightGate{
	position: absolute;
	top:0;
    left:1.5%;
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: 93.33% 30%;
    -ms-transform-origin: 93.33% 30%;
    -webkit-transform-origin: 93.33% 30%;
    transform-origin: 93.33% 30%;
    animation: moveRightGate 4s linear;
}

#leftGate{
    position: absolute;
    top:0;
    left:0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: 6.66% 30%;
    -ms-transform-origin: 6.66% 30%;
    -webkit-transform-origin: 6.66% 30%;
    transform-origin: 6.66% 30%;
    animation: moveLeftGate 4s linear;
}

@keyframes moveLeftGate{
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes leftGateUp{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes moveRightGate{
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rightGateUp{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.train{
    position: absolute;
    top:-135%;
    left:120%;
    z-index: -5000;
    width: 550%;
    height:550%;
    animation: none;
}

.rail{
    position: absolute;
    top:-135%;
    left:-20%;
    width: 550%;
    height:550%;
    animation: none;
}

#backRail{
    z-index: -6000;
    top:-134.25%;
}

@keyframes moveTrain{
    0%{left:120%;}
    100%{left:-850%;}
}
